body{
    background-color: aquamarine;
}

.Navbar{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navbutton,#toggle-mode{
    font-size: 20px;
    background-color: wheat;
    

}
.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: wheat;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    max-height: 1000px;
    margin: 50px auto;
    box-shadow: 10px 10px;
}


.profile-pic {
    width: 150px;       
    border-radius: 50%; 
    border: 5px solid white; 
    
}


.social-icon {
    width: 40px;
}


.container h2, .container ul {
    margin: 0;
}

body.dark-mode {
    background-color: #121212;
    color: #f9f9f9;
}

body.dark-mode .container {
    background-color: #2c2c2c; 
    border-color: #f9f9f9;    
}


